<h1 class="text-center py-5">One For The Culture!</h1>
<form action="/search" method="GET" class="form-inline my-4 justify-content-center">
    <input type="text" name="query" class="search form-control mr-2" placeholder="Search for products">
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<div class="container">
    <div class="row g-5">
        <% products.forEach((product, index) => { %>
            <% if (index % 4 === 0) { %> <!-- Start a new row for every 3 products -->
                </div><div class="row g-5 my-5">
            <% } %>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= product.image_path %>" alt="<%= product.name %>" width="140" height="140">
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                            <h2 id="productName<%= index %>"><%= product.name %></h2>
                        </div>
                        <div class="card-text">
                            <p id="productPrice<%= index %>">$<%= product.price %></p>
                            <!-- Include quantity input -->
                            <input type="number" class="form-control d-none" placeholder="Quantity" id="quantity<%= index %>" min="1" value="1">
                            <!-- Use unique ID for purchase button -->
                            <button class="btn btn-success float-end purchase-button" id="purchaseButton<%= index %>" data-index="<%= index %>">Purchase</button>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
