<h1 class="text-center py-5">One For The Culture!</h1>
<form action="/search" method="GET" class="form-inline my-4 justify-content-center">
    <input type="text" name="query" class="search form-control mr-2" placeholder="Search for products">
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<div class="container">
    <div class="row g-5">
        <% products.forEach((product, index) => { %>
            <% if (index % 4 === 0) { %> <!-- Start a new row for every 4 products -->
                </div><div class="row g-5 my-5">
            <% } %>
            <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-12">
                <div class="card mb-3">
                    <div class="card-image">
                        <img src="<%= product.image_path %>" alt="<%= product.name %>" width="140" height="140">
                    </div>
                    <div class="card-body">
                        <div class="card-title text-center">
                            <h2 id="productName<%= index %>"><%= product.name %></h2>
                        </div>
                        <div class="card-text">
                            <p class="text-center pl-4" id="productPrice<%= index %>">$<%= product.price %></p>
                            <input type="number" class="form-control d-none" placeholder="Quantity" id="quantity<%= index %>" min="1" value="1">
                            <a href="/product/<%= product.id %>" class="btn btn-danger float-left details-button w-40" id="detailsButton<%= index %>" data-index="<%= index %>">Details</a>
                            <button class="btn btn-primary float-right purchase-button w-40" id="purchaseButton<%= index %>" data-index="<%= index %>">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
